/* ================================= 
  Base Element Styles
==================================== */

* {
  	box-sizing: border-box;
}

body,
input,
button {
	font-family: 'Lora', serif;
}

body {
	font: 1em/1.5;
	color: #352208;
	background: #D58255;
}

header {
	text-align: center;
	color: #F8CED6;
	opacity: .8;
}

header span {
	font-size: 2.5em;
	font-weight: 700;
}

h1 {
	font-size: 2.7em;
	margin: 0;
}

a {
  	text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
	padding: .875em 1.875em 1.875em;
	background: #F8CEC3;
	opacity: .95;
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;	
}

legend {
	font-weight: 500;
	padding-top: .5em;
	border-top: 2px solid #B65E00;
	margin-bottom: 1.125em;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: #352208;
	display: block;
	margin-bottom: .5em;
}

input,
select {
	margin-bottom: 1.125em;	
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: #FDF2F4;
	border: 2px solid #F4AFA4;
	border-radius: 1em;
	outline: none;
}

input:focus {
	background: #fff;
	border-color: #EF8D7D;
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	color: #fff;
	padding: .55em 1.25em;
	background: #B65E00;
	margin: 1.25em 0 .5em;
	cursor: pointer;
}

button:hover {
	background: #EF8D7D;
}

span.error {
	color: #DB0622;
	font-size: .9em;
	position: relative;
	left: 1em;
}

p.error {
	color: #DB0622;
	position: relative;
}

div.error {
	color: #DB0622;
	background-color: #E1AA7D;
	padding: 1em;
	text-align: center;
	border-radius: 1em;
	display: block;
	max-width: 680px;
	margin: auto;
	margin-bottom: 1em;
}

/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
  	content: " ";
  	display: table;
  	clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}
	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 3.8em 0 2.5em;
	}
	.col {
		float: left;
	}
	.col + .col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}
}